# 环境变量配置文件

# 服务端口
PORT=8080

# 管理员密码（必填，请设置一个强密码）
ADMIN=

# 快速订阅密钥（可选）
KEY=勿动此默认密钥，有需求请自行通过添加变量KEY进行修改

# 强制固定伪装域名（可选，多个用逗号分隔）
HOST=

# 强制固定UUID（可选）
UUID=

# 强制固定路径（可选）
PATH=/

# 更换默认内置PROXYIP（可选）
PROXYIP=

# 主页反代伪装（可选）
URL=

# 设置强制使用socks5访问名单（可选）
GO2SOCKS5=
